<!DOCTYPE html>
<html>
<head>
  <title>yell3</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'text/javascript', 'modernizr.custom.69142' => true %>
  <%= javascript_include_tag 'text/javascript', 'jquery.hoverfold' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<div id='cssmenu'>
<ul>
   <li id='about'><a href='/'><span>About the project</span></a></li>
   <li id='vdc'><a href='/ideas'><span>VDC</span></a></li>
   <li id='partner'><a href='/'><span>Partner</span></a></li>
   <li id='network'><a href='/'><span>Network</span></a></li>
  <% if user_signed_in? %>
    <li class="pull-right"><%= link_to 'New Doc', new_idea_path %></li>
    <li class="pull-right"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
  <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
<% else %>
  <li class="pull-right"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
  <li class="pull-right"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %>
</ul>
</div>  
  
<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
</div>

<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
